<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="boardVO" type="com.skhu.skhubooks.VO.boardVO" />
		<typeAlias alias="qnaVO" type="com.skhu.skhubooks.VO.qnaVO"/>
		<typeAlias alias="memberVO" type="com.skhu.skhubooks.VO.CustomUserDetails"/>
	</typeAliases>

</configuration>