<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skhu.skhubooks.boardMapper"><!-- 이거 수정해줘야된다 동욱아 -->
	<select id='boardList' resultType="boardVO">
		SELECT
                            @rownum:=@rownum+1 No,
                            BOARD_NO,
                            BOARD_TITLE,
                            BOARD_CONTENT,
	        	            DATE_ADD(BOARD_INSERTDATE, INTERVAL 9 HOUR) AS BOARD_INSERTDATE,
                            BOARD_WRITER
        FROM 
                            BOARD_LIST,
                            (SELECT @rownum:=0) r
        WHERE               BOARD_NO > 0
        ORDER BY 			No DESC
	</select>
	
	<insert id='boardInsert' parameterType="boardVO">
	INSERT 
	INTO 					BOARD_LIST(
							BOARD_WRITER, 
							BOARD_TITLE, 
							BOARD_CONTENT) 
	VALUES 					(
							#{board_writer}, 
							#{board_title}, 
							#{board_content}
							)
	
	</insert>
	
	<select id="boardDetail" parameterType="int" resultType="boardVO">
	SELECT 
							BOARD_WRITER, 
							BOARD_TITLE, 
							BOARD_CONTENT 
	FROM 
							BOARD_LIST 
	WHERE 
							BOARD_NO = #{board_no}
	</select>

</mapper>