<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skhu.skhubooks.loanMapper"><!-- 이거 수정해줘야된다 동욱아 -->
	<select id="selectByMemberNo" parameterType="hashMap" resultType="memberVO">
		SELECT 
							MEMBER_NO, 
							MEMBER_NAME,
							MEMBER_ID,
							MEMBER_BIRTH, 
							MEMBER_PNUM,
							MEMBER_DEPARTMENT,
							MEMBER_GRADE
		FROM 
							MEMBER
		WHERE
							MEMBER_NO = 0
		<include refid="searchMember"/>
	</select>
	
	<sql id="searchMember">
		<if test="member_no != null">
			OR
								MEMBER_NO = #{member_no}
		</if>
	</sql>
	
	<select id="memberCount" parameterType="Integer" resultType="Integer">
		SELECT
							COUNT(MEMBER_NAME) AS RESULT
		FROM
							MEMBER
		WHERE
							MEMBER_NO = #{member_no}
	</select>
	
	<select id="selectBook" resultType="hashMap">
		SELECT 
							A.BOOK_NO,
							A.BOOK_NAME, 
							A.BOOK_AUTHOR, 
							A.BOOK_PUBLISHER, 
							A.MEMBER_NO,
							DATE_FORMAT(DATE_ADD(A.BOOK_INSERTDATE, INTERVAL 9 HOUR),  '%Y-%m-%d') AS BOOK_INSERTDATE,
							B.FILE_NAME 
		FROM 
							BOOK A
		INNER JOIN
							FILE B
		ON
							A.BOOK_NO = B.BOOK_NO
		WHERE 
							A.BOOK_NAME IS NOT NULL
	</select>
</mapper>